div#posts 
    h1 List of posts
    ul.posts-list
        each post in posts 
            li
                h2=post.title






// <div id="posts">
// <h1>List of posts</h1>
// <ul class="posts-list">`;


//  postList += 
//     `<li>
//       <h2>${post.title}</h2>
      
//     </li>
//     `;
//     });
  
//       postList += 
//     ` </ul>
//     </div>

 // var values = [posts.posts];